extends ../layout

block content
  h1= mode
  br
  br
  #container.col
    form(method="POST" action="/users/add")
        input(hidden='', name='edit_id', value='#{author[0].id}')
        .form-group.row
          label.col-sm-2.col-form-label(for='name') Name
          .col-sm-10
            input.form-control(type='text', name='name',value='#{author[0].name}')
        .form-group.row
          label.col-sm-2.col-form-label(for='email') Email
          .col-sm-10
            input.form-control(type='text', name='email', value='#{author[0].email}')
        .form-group.row
          label.col-sm-2.col-form-label(for='password') Password
          .col-sm-10
            input.form-control(type='password', name='password', value='#{author[0].password}', placeholder='Password')
        .form-group.row
          label.col-sm-2.col-form-label(for='role') role
          .col-sm-10
            select.custom-select.mr-sm-2(name='role')
              option(selected='',value="none") Choose...
              option(value='super_admin') Super Admin
              option(value='admin') Admin
              option(value='author') Author
        .form-group.row
          label.col-sm-2.col-form-label(for='status') Status
          .col-sm-10
            select.custom-select.mr-sm-2(name='status')
              option(selected='',value="none") Choose...
              option(value='active') Active
              option(value='inactive') Inactive
              option(value='deleted') Deleted
        .form-group.row
          .col-sm-10
            button.btn.btn-primary(type='submit') Save
  
