extends ../layout

block content
  h1= mode
  .col
     - if(messages.msg_info)
      .alert.alert-success.alert-dismissable
      button.close(type='button', data-dismiss='alert', aria-hidden='true')
      | ×
      h4
      i.icon.fa.fa-check
  br
  a(href="users/add") Add
  br
  #container.col
  table
    thead
      tr
        th
          No
        th
          Name
        th
          Email
        th
          Action
    tbody
      each row, index in data 
          tr
            td #{index+1}
            td #{row.name}
            td #{row.email}
            td
              a(href="users/edit/"+row.id) Edit
              a(href="users/delete/"+row.id) Delete
